<footer class="site-footer">

  <div class="wrapper">

    <div>
      <ul class="social-media-list">
        {% if site.github_name %}
        <li>
          <a href="https://github.com/ygkoumas">
            <span class="icon  icon--github">
              {{ site.data.svg.github_icon }}
            </span>
            <span class="name">{{ site.github_name }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.linkedin_name %}
        <li>
          <a href="https://www.linkedin.com/in/yannis-gkoumas-1944a775">
            <span class="icon  icon--linkedin">
              {{ site.data.svg.linkedin_icon }}
            </span>

            <span class="name">{{ site.linkedin_name }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

</footer>
