<footer class="site-footer">

  <div class="wrapper">

    <div>
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon  icon--github">
              {{ site.data.svg.github_icon }}
            </span>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon  icon--linkedin">
              {{ site.data.svg.linkedin_icon }}
            </span>

            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

</footer>
